# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
ENV/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test outputs
*.log
*.tmp

# Matplotlib cache
.mplconfig/
.mpltinydb/

# Excel backup
~$*
